<h1>edit "<%= @song.title %>" details here</h1>

<%= flash[:update_fail] %>

<%= form_tag(song_url(@song.id), :method => :put) do %>
  <p>
    <%= label_tag :title, "Title:" %> 
    <%= text_field_tag :title %>
    <%= submit_tag "Submit" %>
  </p>
<% end %>

<p>
  <%= link_to "#{@song.title} details", song_url(@song.id) %> | 
  <%= link_to "all songs", songs_url %>
</p>
