<h1>Tunes</h1>

<%= flash[:upload_success] %>
<%= flash[:update_success] %>
<%= flash[:destroy_success] %>

<table>
  <caption>Enjoy streaming these songs by The Birthdays for free!</caption>
  <% @songs.each do |song| %>
  <tr>
    <td><%= link_to song.title, song_url(song.id) %></td>
    <td>PLAY</td> 
    <td><%= link_to "Edit", edit_song_url(song.id) %></td>
    <td><%= link_to "Delete", destroy_song_url(song.id), :method => :delete %></td>
    </td>
  </tr>
  <% end %>
</table>

<p>
  <%= link_to "New", new_song_url %>
</p>
