<h1>Upload Song Here</h1>
<%= flash[:upload_fail] %>
<p>
  <%= form_tag(songs_url) do %>
    <%= label_tag :title, "Title:" %> 
    <%= text_field_tag :title %>
    <%= submit_tag "Submit" %>
  <% end %>
</p>

<p>
  <%= link_to "All Songs", songs_url %>
</p>
